In [1]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import requests
import folium

In [2]:
df = pd.read_csv("Livro2.csv")

In [3]:
df

                  Concelho  Prices
0                 Alenquer     686
1                  Amadora    1006
2        Arruda dos Vinhos     846
3                 Azambuja     675
4                  Cadaval     534
5                  Cascais    1893
6                   Lisboa    2315
7                   Loures    1251
8                 Lourinhã     823
9                    Mafra    1037
10                Odivelas    1243
11                  Oeiras    1572
12                  Sintra     853
13  Sobral de Monte Agraço     630
14           Torres Vedras     863
15     Vila Franca de Xira     938

In [4]:
df['District'] = "Lisbon"
df1 = df.rename(columns={"Concelho":"County"})
df1

                    County  Prices District
0                 Alenquer     686   Lisbon
1                  Amadora    1006   Lisbon
2        Arruda dos Vinhos     846   Lisbon
3                 Azambuja     675   Lisbon
4                  Cadaval     534   Lisbon
5                  Cascais    1893   Lisbon
6                   Lisboa    2315   Lisbon
7                   Loures    1251   Lisbon
8                 Lourinhã     823   Lisbon
9                    Mafra    1037   Lisbon
10                Odivelas    1243   Lisbon
11                  Oeiras    1572   Lisbon
12                  Sintra     853   Lisbon
13  Sobral de Monte Agraço     630   Lisbon
14           Torres Vedras     863   Lisbon
15     Vila Franca de Xira     938   Lisbon

In [5]:
cols =["District", "County", "Prices"]

df = df1[cols]
df

   District                  County  Prices
0    Lisbon                Alenquer     686
1    Lisbon                 Amadora    1006
2    Lisbon       Arruda dos Vinhos     846
3    Lisbon                Azambuja     675
4    Lisbon                 Cadaval     534
5    Lisbon                 Cascais    1893
6    Lisbon                  Lisboa    2315
7    Lisbon                  Loures    1251
8    Lisbon                Lourinhã     823
9    Lisbon                   Mafra    1037
10   Lisbon                Odivelas    1243
11   Lisbon                  Oeiras    1572
12   Lisbon                  Sintra     853
13   Lisbon  Sobral de Monte Agraço     630
14   Lisbon           Torres Vedras     863
15   Lisbon     Vila Franca de Xira     938

In [6]:
County = df["County"].tolist()

In [7]:
from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent="ny_explorer")

dict_GPS = {}

for i in County:
    location = geolocator.geocode(i)
    
    x={i:(location.latitude, location.longitude)}
    dict_GPS.update(x)
    
dict_GPS

{'Alenquer': (39.056633, -9.0076057),
 'Amadora': (38.7595162, -9.22367700946013),
 'Arruda dos Vinhos': (38.97514755, -9.08770297531722),
 'Azambuja': (39.0689884, -8.8684921),
 'Cadaval': (39.2395742, -9.0622031057665),
 'Cascais': (38.72240025, -9.39690917164988),
 'Lisboa': (38.7077507, -9.1365919),
 'Loures': (38.8308741, -9.1684512),
 'Lourinhã': (39.2460331, -9.27133879080639),
 'Mafra': (-26.1150943, -49.8035982),
 'Odivelas': (38.7926342, -9.1826701),
 'Oeiras': (-7.0109909, -42.1299376),
 'Sintra': (38.8355605, -9.35222525884862),
 'Sobral de Monte Agraço': (39.01835, -9.15171),
 'Torres Vedras': (39.0930856, -9.260741),
 'Vila Franca de Xira': (38.954278, -8.9897039)}

In [8]:
#Geopy goes for Mafra and Oeiras in brazil, we need to change that!

location_mafra = geolocator.geocode("Mafra, PT")
location_oeiras = geolocator.geocode("Oeiras, PT")

In [9]:
dict_GPS.update({'Mafra': (location_mafra.latitude, location_mafra.longitude)})
dict_GPS.update({'Oeiras': (location_oeiras.latitude, location_oeiras.longitude)})
dict_GPS

{'Alenquer': (39.056633, -9.0076057),
 'Amadora': (38.7595162, -9.22367700946013),
 'Arruda dos Vinhos': (38.97514755, -9.08770297531722),
 'Azambuja': (39.0689884, -8.8684921),
 'Cadaval': (39.2395742, -9.0622031057665),
 'Cascais': (38.72240025, -9.39690917164988),
 'Lisboa': (38.7077507, -9.1365919),
 'Loures': (38.8308741, -9.1684512),
 'Lourinhã': (39.2460331, -9.27133879080639),
 'Mafra': (38.9369782, -9.3282374),
 'Odivelas': (38.7926342, -9.1826701),
 'Oeiras': (38.7124971, -9.27130038240727),
 'Sintra': (38.8355605, -9.35222525884862),
 'Sobral de Monte Agraço': (39.01835, -9.15171),
 'Torres Vedras': (39.0930856, -9.260741),
 'Vila Franca de Xira': (38.954278, -8.9897039)}

In [10]:
columns = ["Latitude", "Longitude"]

GPS = pd.DataFrame.from_dict(dict_GPS, columns= columns, orient='index').reset_index().rename(columns={"index":"County"})
GPS

                    County   Latitude  Longitude
0                 Alenquer  39.056633  -9.007606
1                  Amadora  38.759516  -9.223677
2        Arruda dos Vinhos  38.975148  -9.087703
3                 Azambuja  39.068988  -8.868492
4                  Cadaval  39.239574  -9.062203
5                  Cascais  38.722400  -9.396909
6                   Lisboa  38.707751  -9.136592
7                   Loures  38.830874  -9.168451
8                 Lourinhã  39.246033  -9.271339
9                    Mafra  38.936978  -9.328237
10                Odivelas  38.792634  -9.182670
11                  Oeiras  38.712497  -9.271300
12                  Sintra  38.835560  -9.352225
13  Sobral de Monte Agraço  39.018350  -9.151710
14           Torres Vedras  39.093086  -9.260741
15     Vila Franca de Xira  38.954278  -8.989704

In [11]:
Prices_GPS = pd.merge(df, GPS, on='County')
Prices_GPS

   District                  County  Prices   Latitude  Longitude
0    Lisbon                Alenquer     686  39.056633  -9.007606
1    Lisbon                 Amadora    1006  38.759516  -9.223677
2    Lisbon       Arruda dos Vinhos     846  38.975148  -9.087703
3    Lisbon                Azambuja     675  39.068988  -8.868492
4    Lisbon                 Cadaval     534  39.239574  -9.062203
5    Lisbon                 Cascais    1893  38.722400  -9.396909
6    Lisbon                  Lisboa    2315  38.707751  -9.136592
7    Lisbon                  Loures    1251  38.830874  -9.168451
8    Lisbon                Lourinhã     823  39.246033  -9.271339
9    Lisbon                   Mafra    1037  38.936978  -9.328237
10   Lisbon                Odivelas    1243  38.792634  -9.182670
11   Lisbon                  Oeiras    1572  38.712497  -9.271300
12   Lisbon                  Sintra     853  38.835560  -9.352225
13   Lisbon  Sobral de Monte Agraço     630  39.018350  -9.151710
14   Lisbon           Torres Vedras     863  39.093086  -9.260741
15   Lisbon     Vila Franca de Xira     938  38.954278  -8.989704

In [12]:
CLIENT_ID = 'X342CSELWXETJ2ZT4CZQRKL5D4LFVKT1XLM33Q1ZDNMB1XKP' # your Foursquare ID
CLIENT_SECRET = '0IKUUDY34PFCPNMFNMNEOHSM2D5YQMRMJYKA3BWC1T4YUG2O' # your Foursquare Secret
VERSION = '20180605' # Foursquare API version

In [13]:
def getNearbyVenues(names, latitudes, longitudes, radius=500, LIMIT=100):
    
    venues_list=[]
    for name, lat, lng in zip(names, latitudes, longitudes):
        print(name)
            
        # create the API request URL
        url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION, 
            lat, 
            lng, 
            radius, 
            LIMIT)
            
        # make the GET request
        results = requests.get(url).json()["response"]['groups'][0]['items']
        
        # return only relevant information for each nearby venue
        venues_list.append([(
            name, 
            lat, 
            lng, 
            v['venue']['name'], 
            v['venue']['location']['lat'], 
            v['venue']['location']['lng'],  
            v['venue']['categories'][0]['name']) for v in results])

    nearby_venues = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
    nearby_venues.columns = ['County', 
                  'County Latitude', 
                  'County Longitude', 
                  'Venue', 
                  'Venue Latitude', 
                  'Venue Longitude', 
                  'Venue Category']
    
    return(nearby_venues)

In [14]:
downtown_venues = getNearbyVenues(names=Prices_GPS['County'],
                                   latitudes=Prices_GPS['Latitude'],
                                   longitudes=Prices_GPS['Longitude'])

Alenquer
Amadora
Arruda dos Vinhos
Azambuja
Cadaval
Cascais
Lisboa
Loures
Lourinhã
Mafra
Odivelas
Oeiras
Sintra
Sobral de Monte Agraço
Torres Vedras
Vila Franca de Xira

In [15]:
downtown_venues.head()

,County,County Latitude,County Longitude,Venue,Venue Latitude,Venue Longitude,Venue Category
0,Alenquer,39.056633,-9.007606,Taberna do Areal,39.057878,-9.006129,Portuguese Restaurant
1,Alenquer,39.056633,-9.007606,Taberna Chapéu Alto,39.055238,-9.010080,Wine Bar
2,Alenquer,39.056633,-9.007606,Confraria do Café - Alenquer,39.052898,-9.009088,Bakery
3,Alenquer,39.056633,-9.007606,Casta 85,39.052876,-9.009241,Modern European Restaurant
4,Alenquer,39.056633,-9.007606,Biju,39.055000,-9.007645,Bar

In [16]:
# one hot encoding
manhattan_onehot = pd.get_dummies(downtown_venues[['Venue Category']], prefix="", prefix_sep="")

# add neighborhood column back to dataframe
manhattan_onehot['County'] = downtown_venues['County'] 

# move neighborhood column to the first column
fixed_columns = [manhattan_onehot.columns[-1]] + list(manhattan_onehot.columns[:-1])
manhattan_onehot = manhattan_onehot[fixed_columns]

manhattan_onehot.head()

,County,African Restaurant,Arts & Crafts Store,BBQ Joint,Bagel Shop,Bakery,Bar,Beer Bar,Beer Garden,Botanical Garden,...,Soccer Field,Soccer Stadium,Stadium,Supermarket,Sushi Restaurant,Tapas Restaurant,Theater,Train Station,Vegetarian / Vegan Restaurant,Wine Bar
0,Alenquer,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Alenquer,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,Alenquer,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Alenquer,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Alenquer,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [17]:
manhattan_grouped = manhattan_onehot.groupby('County').mean().reset_index()
manhattan_grouped.head()

,County,African Restaurant,Arts & Crafts Store,BBQ Joint,Bagel Shop,Bakery,Bar,Beer Bar,Beer Garden,Botanical Garden,...,Soccer Field,Soccer Stadium,Stadium,Supermarket,Sushi Restaurant,Tapas Restaurant,Theater,Train Station,Vegetarian / Vegan Restaurant,Wine Bar
0,Alenquer,0.00,0.00,0.0,0.0,0.142857,0.142857,0.00,0.00,0.0,...,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.000000,0.00,0.142857
1,Amadora,0.00,0.00,0.0,0.0,0.100000,0.000000,0.00,0.00,0.0,...,0.0,0.0,0.0,0.1,0.0,0.00,0.0,0.000000,0.00,0.000000
2,Azambuja,0.00,0.00,0.0,0.0,0.000000,0.000000,0.00,0.00,0.0,...,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.142857,0.00,0.000000
3,Cascais,0.00,0.00,0.0,0.0,0.000000,0.000000,0.00,0.00,0.0,...,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.000000,0.00,0.000000
4,Lisboa,0.01,0.01,0.0,0.0,0.020000,0.040000,0.01,0.01,0.0,...,0.0,0.0,0.0,0.0,0.0,0.03,0.0,0.000000,0.01,0.040000

In [18]:
def return_most_common_venues(row, num_top_venues):
    row_categories = row.iloc[1:]
    row_categories_sorted = row_categories.sort_values(ascending=False)
    
    return row_categories_sorted.index.values[0:num_top_venues]

In [19]:
num_top_venues = 10

indicators = ['st', 'nd', 'rd']

# create columns according to number of top venues
columns = ['County']
for ind in np.arange(num_top_venues):
    try:
        columns.append('{}{} Most Common Venue'.format(ind+1, indicators[ind]))
    except:
        columns.append('{}th Most Common Venue'.format(ind+1))

# create a new dataframe
neighborhoods_venues_sorted = pd.DataFrame(columns=columns)
neighborhoods_venues_sorted['County'] = manhattan_grouped['County']

for ind in np.arange(manhattan_grouped.shape[0]):
    neighborhoods_venues_sorted.iloc[ind, 1:] = return_most_common_venues(manhattan_grouped.iloc[ind, :], num_top_venues)

neighborhoods_venues_sorted

,County,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
0,Alenquer,Wine Bar,Other Great Outdoors,Bakery,Bar,Portuguese Restaurant,Café,Modern European Restaurant,Fast Food Restaurant,Diner,Electronics Store
1,Amadora,Restaurant,Portuguese Restaurant,Metro Station,Gym,Bakery,Supermarket,Café,Wine Bar,Cosmetics Shop,Diner
2,Azambuja,Shopping Mall,Train Station,Café,Diner,Portuguese Restaurant,Garden,Scenic Lookout,Fast Food Restaurant,Coffee Shop,Cosmetics Shop
3,Cascais,Golf Course,Wine Bar,Garden,Coffee Shop,Cosmetics Shop,Diner,Electronics Store,Event Space,Fast Food Restaurant,Furniture / Home Store
4,Lisboa,Portuguese Restaurant,Hotel,Ice Cream Shop,Plaza,Bar,Hostel,Wine Bar,Tapas Restaurant,Coffee Shop,Clothing Store
5,Loures,Restaurant,Portuguese Restaurant,BBQ Joint,Bar,Stadium,Soccer Stadium,Plaza,Breakfast Spot,Wine Bar,Coffee Shop
6,Lourinhã,Café,Wine Bar,Garden,Cosmetics Shop,Diner,Electronics Store,Event Space,Fast Food Restaurant,Furniture / Home Store,Gastropub
7,Mafra,Café,Portuguese Restaurant,Bakery,Restaurant,Burger Joint,Botanical Garden,Castle,Coffee Shop,Pharmacy,Pizza Place
8,Odivelas,Portuguese Restaurant,Café,Historic Site,Fast Food Restaurant,Park,Pizza Place,Pool,Mediterranean Restaurant,Event Space,Seafood Restaurant
9,Oeiras,Pharmacy,Playground,Portuguese Restaurant,Garden,Soccer Field,Event Space,Clothing Store,Coffee Shop,Cosmetics Shop,Diner
10,Sintra,Breakfast Spot,Arts & Crafts Store,Gym / Fitness Center,Wine Bar,Cosmetics Shop,Diner,Electronics Store,Event Space,Fast Food Restaurant,Furniture / Home Store
11,Sobral de Monte Agraço,Café,Portuguese Restaurant,Garden,Wine Bar,Fast Food Restaurant,Coffee Shop,Cosmetics Shop,Diner,Electronics Store,Event Space
12,Torres Vedras,Tapas Restaurant,Bar,Hotel,Brewery,Theater,Sushi Restaurant,Bagel Shop,Bakery,Historic Site,Market
13,Vila Franca de Xira,Burger Joint,Portuguese Restaurant,Bar,Japanese Restaurant,Shopping Mall,Coffee Shop,Café,Market,Restaurant,Nightclub

In [20]:
from sklearn.cluster import KMeans

# set number of clusters
kclusters = 5

manhattan_grouped_clustering = manhattan_grouped.drop('County', 1)

# run k-means clustering
kmeans = KMeans(n_clusters=kclusters, random_state=0).fit(manhattan_grouped_clustering)

# check cluster labels generated for each row in the dataframe
kmeans.labels_[0:10]

array([1, 1, 1, 3, 1, 1, 2, 1, 1, 1])

In [21]:
# add clustering labels
neighborhoods_venues_sorted.insert(0, 'Cluster Labels', kmeans.labels_)

manhattan_merged = Prices_GPS

# merge toronto_grouped with toronto_data to add latitude/longitude for each neighborhood
manhattan_merged = manhattan_merged.join(neighborhoods_venues_sorted.set_index('County'), on='County')

manhattan_merged # check the last columns!

,District,County,Prices,Latitude,Longitude,Cluster Labels,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
0,Lisbon,Alenquer,686,39.056633,-9.007606,1.0,Wine Bar,Other Great Outdoors,Bakery,Bar,Portuguese Restaurant,Café,Modern European Restaurant,Fast Food Restaurant,Diner,Electronics Store
1,Lisbon,Amadora,1006,38.759516,-9.223677,1.0,Restaurant,Portuguese Restaurant,Metro Station,Gym,Bakery,Supermarket,Café,Wine Bar,Cosmetics Shop,Diner
2,Lisbon,Arruda dos Vinhos,846,38.975148,-9.087703,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Lisbon,Azambuja,675,39.068988,-8.868492,1.0,Shopping Mall,Train Station,Café,Diner,Portuguese Restaurant,Garden,Scenic Lookout,Fast Food Restaurant,Coffee Shop,Cosmetics Shop
4,Lisbon,Cadaval,534,39.239574,-9.062203,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Lisbon,Cascais,1893,38.722400,-9.396909,3.0,Golf Course,Wine Bar,Garden,Coffee Shop,Cosmetics Shop,Diner,Electronics Store,Event Space,Fast Food Restaurant,Furniture / Home Store
6,Lisbon,Lisboa,2315,38.707751,-9.136592,1.0,Portuguese Restaurant,Hotel,Ice Cream Shop,Plaza,Bar,Hostel,Wine Bar,Tapas Restaurant,Coffee Shop,Clothing Store
7,Lisbon,Loures,1251,38.830874,-9.168451,1.0,Restaurant,Portuguese Restaurant,BBQ Joint,Bar,Stadium,Soccer Stadium,Plaza,Breakfast Spot,Wine Bar,Coffee Shop
8,Lisbon,Lourinhã,823,39.246033,-9.271339,2.0,Café,Wine Bar,Garden,Cosmetics Shop,Diner,Electronics Store,Event Space,Fast Food Restaurant,Furniture / Home Store,Gastropub
9,Lisbon,Mafra,1037,38.936978,-9.328237,1.0,Café,Portuguese Restaurant,Bakery,Restaurant,Burger Joint,Botanical Garden,Castle,Coffee Shop,Pharmacy,Pizza Place
10,Lisbon,Odivelas,1243,38.792634,-9.182670,1.0,Portuguese Restaurant,Café,Historic Site,Fast Food Restaurant,Park,Pizza Place,Pool,Mediterranean Restaurant,Event Space,Seafood Restaurant
11,Lisbon,Oeiras,1572,38.712497,-9.271300,1.0,Pharmacy,Playground,Portuguese Restaurant,Garden,Soccer Field,Event Space,Clothing Store,Coffee Shop,Cosmetics Shop,Diner
12,Lisbon,Sintra,853,38.835560,-9.352225,0.0,Breakfast Spot,Arts & Crafts Store,Gym / Fitness Center,Wine Bar,Cosmetics Shop,Diner,Electronics Store,Event Space,Fast Food Restaurant,Furniture / Home Store
13,Lisbon,Sobral de Monte Agraço,630,39.018350,-9.151710,4.0,Café,Portuguese Restaurant,Garden,Wine Bar,Fast Food Restaurant,Coffee Shop,Cosmetics Shop,Diner,Electronics Store,Event Space
14,Lisbon,Torres Vedras,863,39.093086,-9.260741,1.0,Tapas Restaurant,Bar,Hotel,Brewery,Theater,Sushi Restaurant,Bagel Shop,Bakery,Historic Site,Market
15,Lisbon,Vila Franca de Xira,938,38.954278,-8.989704,1.0,Burger Joint,Portuguese Restaurant,Bar,Japanese Restaurant,Shopping Mall,Coffee Shop,Café,Market,Restaurant,Nightclub

In [22]:
manhattan_merged = manhattan_merged.dropna()
manhattan_merged
manhattan_merged['Cluster Labels'] =manhattan_merged['Cluster Labels'].astype(int)

C:\Users\jvsantos\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [23]:
import matplotlib.cm as cm
import matplotlib.colors as colors
import numpy as np

In [24]:
Lisbon = 'Lisbon, LX'

geolocator = Nominatim(user_agent="ny_explorer")
location = geolocator.geocode(Lisbon)
latitude = location.latitude
longitude = location.longitude

In [25]:
import os
import json
import geojson
import webbrowser

In [26]:
PP = Prices_GPS

PP["County"].iloc[[13]] = "Sobral de Monte Agrao"
PP["County"].iloc[[8]] = "Lourinha"

C:\Users\jvsantos\Anaconda3\lib\site-packages\pandas\core\indexing.py:190: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [27]:
manhattan_merged["Cluster NR"] = manhattan_merged["Cluster Labels"]
manhattan_merged.head()

C:\Users\jvsantos\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,District,County,Prices,Latitude,Longitude,Cluster Labels,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue,Cluster NR
0,Lisbon,Alenquer,686,39.056633,-9.007606,1,Wine Bar,Other Great Outdoors,Bakery,Bar,Portuguese Restaurant,Café,Modern European Restaurant,Fast Food Restaurant,Diner,Electronics Store,1
1,Lisbon,Amadora,1006,38.759516,-9.223677,1,Restaurant,Portuguese Restaurant,Metro Station,Gym,Bakery,Supermarket,Café,Wine Bar,Cosmetics Shop,Diner,1
3,Lisbon,Azambuja,675,39.068988,-8.868492,1,Shopping Mall,Train Station,Café,Diner,Portuguese Restaurant,Garden,Scenic Lookout,Fast Food Restaurant,Coffee Shop,Cosmetics Shop,1
5,Lisbon,Cascais,1893,38.722400,-9.396909,3,Golf Course,Wine Bar,Garden,Coffee Shop,Cosmetics Shop,Diner,Electronics Store,Event Space,Fast Food Restaurant,Furniture / Home Store,3
6,Lisbon,Lisboa,2315,38.707751,-9.136592,1,Portuguese Restaurant,Hotel,Ice Cream Shop,Plaza,Bar,Hostel,Wine Bar,Tapas Restaurant,Coffee Shop,Clothing Store,1

In [28]:
manhattan_merged.loc[manhattan_merged['Cluster Labels'] == 1, 'Cluster Labels'] = "Cafe & Bar Venues"
manhattan_merged.loc[manhattan_merged['Cluster Labels'] == 0, 'Cluster Labels'] = "Restaurant & Sport Venues"
manhattan_merged.loc[manhattan_merged['Cluster Labels'] == 2, 'Cluster Labels'] = "Store Venues"
manhattan_merged.loc[manhattan_merged['Cluster Labels'] == 3, 'Cluster Labels'] = "Local Restaurants Venues"
manhattan_merged.loc[manhattan_merged['Cluster Labels'] == 4, 'Cluster Labels'] = "Golf & Social Venues"


manhattan_merged.head()

C:\Users\jvsantos\Anaconda3\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

,District,County,Prices,Latitude,Longitude,Cluster Labels,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue,Cluster NR
0,Lisbon,Alenquer,686,39.056633,-9.007606,Cafe & Bar Venues,Wine Bar,Other Great Outdoors,Bakery,Bar,Portuguese Restaurant,Café,Modern European Restaurant,Fast Food Restaurant,Diner,Electronics Store,1
1,Lisbon,Amadora,1006,38.759516,-9.223677,Cafe & Bar Venues,Restaurant,Portuguese Restaurant,Metro Station,Gym,Bakery,Supermarket,Café,Wine Bar,Cosmetics Shop,Diner,1
3,Lisbon,Azambuja,675,39.068988,-8.868492,Cafe & Bar Venues,Shopping Mall,Train Station,Café,Diner,Portuguese Restaurant,Garden,Scenic Lookout,Fast Food Restaurant,Coffee Shop,Cosmetics Shop,1
5,Lisbon,Cascais,1893,38.722400,-9.396909,Local Restaurants Venues,Golf Course,Wine Bar,Garden,Coffee Shop,Cosmetics Shop,Diner,Electronics Store,Event Space,Fast Food Restaurant,Furniture / Home Store,3
6,Lisbon,Lisboa,2315,38.707751,-9.136592,Cafe & Bar Venues,Portuguese Restaurant,Hotel,Ice Cream Shop,Plaza,Bar,Hostel,Wine Bar,Tapas Restaurant,Coffee Shop,Clothing Store,1

In [29]:
# create map
map_clusters = folium.Map(location=[latitude, longitude], zoom_start=9)

# set color scheme for the clusters
x = np.arange(kclusters)
ys = [i + x + (i*x)**2 for i in range(kclusters)]
colors_array = cm.rainbow(np.linspace(0, 1, len(ys)))
rainbow = [colors.rgb2hex(i) for i in colors_array]

state_geo = r"done.geojson"
folium.Choropleth(geo_data=state_geo, data=PP, columns=["County", "Prices"], key_on="feature.properties.neighbourhood", fill_color='YlOrRd', fill_opacity = 0.7, line_opacity=0.2, legend_name="Prices in Lisbon").add_to(map_clusters)
    

# add markers to the map
markers_colors = []
for lat, lon, poi, cluster, nr in zip(manhattan_merged['Latitude'], manhattan_merged['Longitude'], manhattan_merged['County'], manhattan_merged['Cluster NR'], manhattan_merged['Cluster Labels']):
    label = folium.Popup(str(poi) + ' - ' + str(nr), parse_html=True)
    folium.CircleMarker(
        [lat, lon],
        radius=10,
        popup=label,
        color=rainbow[cluster-1],
        fill=True,
        fill_color=rainbow[cluster-1],
        fill_opacity=0.7).add_to(map_clusters)
    


map_clusters
map_clusters.save('map.html')
webbrowser.open('map.html')

True

In [33]:
from IPython.display import IFrame
x = IFrame('Housing Prices in Lisbon - Outcome.html', width=1000, height=800)
display(x)